.projectHeader__img{
width: 100%;
}

.projectHeader__info{
    display: grid;
   grid-template-columns: 70% 30%;
   align-items: center;

}


.projectHeader__text {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projectHeader__text > h4 > a{
    margin-left: 10px;
    font-style: italic;
    color: var(--clr-primary);
    font-weight: bold;
}


.projectHeader__text > h4 > a ::before{
   content: "AA";
}

.projectHeader__links{
    display: flex;
    justify-content: flex-end;
} 

.projectHeader__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px !important;
 }

 
@media (max-width: 600px) {
    .projectHeader__info {
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    .projectHeader__text{
        font-size: 1em;
    }
  }
 