/* .cards {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
  text-align: center;
  color: white;
} */



/* Tiles */

.tiles {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  margin: -2.5em 0 0 -2.5em;
}

@media screen and (max-width: 1280px) {

  .tiles {
    margin: -1.25em 0 0 -1.25em;
  }
}

@media screen and (max-width: 980px) {

  .tiles {
    margin: -2.5em 0 0 -2.5em;
  }
}

@media screen and (max-width: 736px) {

  .tiles {
    margin: -1.25em 0 0 -1.25em;
  }

}

@media screen and (max-width: 480px) {

  .tiles {
    margin: 0;
  }
}
